<template>
  <v-navigation-drawer
    :value="visible"
    app
    clipped>
    <v-list
      dense
      nav>
      <v-list-item
        v-for="item in menuOptions"
        :key="item.title"
        link
        @click="emitMenuOptionEvent(item.eventName)">
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    visible: { type: Boolean, default: true },
    menuOptions: { type: Array, required: true }
  },
  methods: {
    emitMenuOptionEvent (eventName) {
      this.$emit(eventName)
    }
  }
}
</script>
