<template>
  <v-app-bar
    app
    clipped-left>
    <v-app-bar-nav-icon @click="onMenuButtonClick" />
    <v-toolbar-title
      class="headline text-uppercase"
      @click="onTitleClick">
      <span>Chess</span>
      <span class="font-weight-light">App</span>
    </v-toolbar-title>
    <v-spacer />
    <v-btn
      text
      href="https://github.com/vuetifyjs/vuetify/releases/latest"
      target="_blank">
      <span class="mr-2">Latest Release</span>
      <v-icon>open_in_new</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  methods: {
    onMenuButtonClick () {
      this.$emit('menuButtonClicked')
    },
    onTitleClick () {
      this.$emit('titleClicked')
    }
  }
}
</script>
