<template>
  <div>
    <h1>Chess app home</h1>
    <v-btn @click="createGame">
      Create new game
    </v-btn>
    <div
      v-for="chessGame in userGames"
      :key="chessGame.id"
      @click="() => goToGame(chessGame)">
      {{ chessGame.whitePlayerId }} vs {{ chessGame.blackPlayerId }} | {{ chessGame.id }}
    </div>
  </div>
</template>

<script>
import { chessGameClient } from '@/clients/clientFactory'
import { GAME } from '../router/routerNames'
export default {
  data () {
    return {
      userGames: []
    }
  },
  async created () {
    this.userGames = await chessGameClient.getGameSummaries()
  },
  methods: {
    createGame () {
      chessGameClient.createGame()
    },
    goToGame (chessGame) {
      this.$router.push({ name: GAME, params: { id: chessGame.id } })
    }
  }
}
</script>
