<template>
  <div>
    <top-bar
      @menuButtonClicked="toggleNavigationDrawer"
      @titleClicked="onTitleClicked" />
    <navigation-drawer
      :visible="showNavigationDrawer"
      :menu-options="menuOptions"
      @logOut="logOutUser"
      @logIn="onLogIn"
      @game="onGame" />
  </div>
</template>

<script>
import TopBar from '@/components/Basic/TopBar.vue'
import NavigationDrawer from '@/components/Basic/NavigationDrawer.vue'
import { USER_IS_LOGGED } from '@/store/getters/getterTypes'
import { SIGN_OUT_USER } from '@/store/actions/actionTypes'
import { LOGIN, HOME, BOARD } from '@/router/routerNames'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    TopBar,
    NavigationDrawer
  },
  data () {
    return {
      showNavigationDrawer: true
    }
  },
  computed: {
    ...mapGetters({ userIsLogged: USER_IS_LOGGED }),
    menuOptions () {
      if (!this.userIsLogged) {
        return [ { icon: 'mdi-account', title: 'Log in', eventName: 'logIn' } ]
      }
      return [
        { icon: 'mdi-logout', title: 'Log out', eventName: 'logOut' },
        { icon: 'mdi-checkerboard', title: 'Game', eventName: 'game' }
      ]
    }
  },
  methods: {
    ...mapActions({ logOutUser: SIGN_OUT_USER }),
    toggleNavigationDrawer () {
      this.showNavigationDrawer = !this.showNavigationDrawer
    },
    onLogIn () {
      this.$router.push({ name: LOGIN })
    },
    onTitleClicked () {
      this.$router.push({ name: HOME })
    },
    onGame () {
      this.$router.push({ name: BOARD })
    }
  }
}
</script>

<style>

</style>
