<template>
  <div>
    <div class="board-container">
      <div>
        <row
          :row-number="8"
          @squareSelected="onSquareSelected" />
        <row
          :row-number="7"
          @squareSelected="onSquareSelected" />
        <row
          :row-number="6"
          @squareSelected="onSquareSelected" />
        <row
          :row-number="5"
          @squareSelected="onSquareSelected" />
        <row
          :row-number="4"
          @squareSelected="onSquareSelected" />
        <row
          :row-number="3"
          @squareSelected="onSquareSelected" />
        <row
          :row-number="2"
          @squareSelected="onSquareSelected" />
        <row
          :row-number="1"
          @squareSelected="onSquareSelected" />
      </div>
    </div>
  </div>
</template>
<script>
import Row from './Row.vue'
import { mapActions, mapMutations, mapGetters } from 'vuex'
import { GET_BOARD, SELECT_SQUARE } from '../store/actions/actionTypes'
import { HubConnectionBuilder, HttpTransportType } from '@microsoft/signalr'
import { SET_USER_TOKEN } from '../store/mutations/mutationTypes'
import { GET_USER_TOKEN } from '../store/getters/getterTypes'

export default {
  components: { Row },
  computed: {
    ...mapGetters({ getUserToken: GET_USER_TOKEN })
  },
  created () {
    this.refreshGame()

    const connection = new HubConnectionBuilder()
      .withUrl('https://localhost:5001/ChessGameHub', {
        accessTokenFactory: () => this.getUserToken,
        transport: HttpTransportType.WebSockets
      })
      .build()
    connection.on('PieceMoved', this.refreshGame)
    connection.start()
  },
  methods: {
    ...mapMutations({
      setUserToken: SET_USER_TOKEN
    }),
    ...mapActions({
      getBoard: GET_BOARD,
      selectSquare: SELECT_SQUARE
    }),
    onSquareSelected (position) {
      this.selectSquare({ position: position, id: this.$route.params.id })
    },
    refreshGame () {
      this.getBoard({ id: this.$route.params.id })
    }
  }
}
</script>
<style scoped>
.board-container {
  display: flex;
  justify-content: center;
}

pre {
  text-align: left;
}
</style>
