<template>
  <div id="firebaseui-auth-container" />
</template>
<script>
import firebase from 'firebase/app'
import 'firebase/auth'
import * as firebaseui from 'firebaseui'
import { HOME } from '@/router/routerNames'

export default {
  name: 'Login',
  mounted () {
    const uiConfig = {
      signInOptions: [
        firebase.auth.GoogleAuthProvider.PROVIDER_ID
      ],
      callbacks: {
        signInSuccessWithAuthResult: this.whenSignInSuccess
      }
    }
    const ui = firebaseui.auth.AuthUI.getInstance() || new firebaseui.auth.AuthUI(firebase.auth())
    ui.start('#firebaseui-auth-container', uiConfig)
  },
  methods: {
    whenSignInSuccess (authResult) {
      this.$router.push({ name: HOME })
    }
  }
}
</script>
<style scoped lang="scss">
@import '../../node_modules/firebaseui/dist/firebaseui.css';
</style>
