<template>
  <img
    class="piece"
    :src="getPiece">
</template>
<script>
import { Pieces } from '../UnicodePieces'

export default {
  name: 'Piece',
  props: {
    piece: { type: Object, required: true }
  },
  computed: {
    getPiece () {
      return Pieces[this.piece.color][this.piece.type]
    }
  }

}
</script>
<style scoped>
.piece {
  width: 68%;
}
</style>
