<template>
  <div class="row">
    <square
      v-for="n in 8"
      :key="n"
      :color="getColor(n)"
      :row-number="rowNumber"
      :column="getColumn(n)"
      @selected="onSquareSelected" />
  </div>
</template>
<script>
import Square from './Square.vue'

export default {
  name: 'Row',
  components: { Square },
  props: {
    rowNumber: { type: Number, required: true }
  },
  methods: {
    getColor (number) {
      if ((number + this.rowNumber) % 2 === 0) return 'black'
      return 'white'
    },
    getColumn (number) {
      const columnNames = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
      return columnNames[number - 1]
    },
    onSquareSelected (position) {
      this.$emit('squareSelected', position)
    }
  }
}
</script>
<style scoped>
.row {
  display: flex;
}
</style>
