<template>
  <div
    class="square-container"
    :class="getBackgroundColorClass()"
    @click="onClick">
    <div class="square-id">
      {{ column }}{{ rowNumber }}
    </div>
    <piece
      v-if="piece"
      :piece="piece" />
  </div>
</template>
<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import Piece from './Piece.vue'
import { GET_PIECE_FOR } from '../store/getters/getterTypes'

export default Vue.extend({
  name: 'Square',
  components: { Piece },
  props: {
    color: { type: String, required: true },
    rowNumber: { type: Number, required: true },
    column: { type: String, required: true }
  },
  computed: {
    ...mapGetters({
      getPieceFor: GET_PIECE_FOR
    }),
    piece () {
      return this.getPieceFor(this.position)
    },
    position () {
      return this.column + this.rowNumber
    }
  },
  methods: {
    getBackgroundColorClass () {
      if (this.color === 'white') return 'white-square'
      return 'black-square'
    },
    onClick () {
      this.$emit('selected', this.position)
    }
  }
})
</script>
<style scoped>
.square-container {
  min-width: 80px;
  min-height: 80px;
  color: black;
  text-align: center;
}

.square-id{
  font-size: 10px;
}

.white-square {
  background-color: #f0d9b5;
}

.black-square {
  background-color: #b58863;
}
</style>
