<template>
  <v-app>
    <application-top-bar />
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import ApplicationTopBar from './components/ApplicationTopBar.vue'

export default {
  components: { ApplicationTopBar }
}
</script>
